name: Release notifier
on:
  workflow_dispatch:
  release:
    types: [published, created]

jobs:
  generate-token:
    uses: tibdex/github-app-token@v1
    with:
      app_id: ${{ secrets.PARTNER_DATASOURCES_APP_ID }}
      private_key: ${{ secrets.PARTNER_DATASOURCES_APP_PEM }}

  send-slack-notification:
    needs: generate-token
    uses: grafana/plugins-actions/.github/workflows/plugin-release-slack-notification.yml@main
    with:
      channelId: ${{ vars.PARTNER_DATASOURCES_PUBLIC_CHANNEL_ID }}
      repoId: sentry-datasource
      commitSha: ${{ github.sha }}
    secrets:
      slackBotToken: ${{ secrets.PARTNER_DATASOURCES_SLACK_APP_TOKEN }}
      slackBotSigningSecret: ${{ secrets.PARTNER_DATASOURCES_SLACK_APP_SIGNING_SECRET }}
      githubToken: ${{ needs.generate-token.outputs.token }}
